<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.base.photo">

    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        <activity android:name=".ninegridview.RecyclerViewExampleActivity" />
        <activity android:name=".ninegridview.ActivityTransitionToActivity"></activity>
    </application>

</manifest>