<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="network.base.com.basenetwork" >
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <application
        android:name="network.base.com.basenetwork.GlobalApp"
        >
    </application>
</manifest>
